.gym {
  color: rgb(93,109,126);
  font-size: 11px;
  font-weight: 600;

  &.container {
    display: grid;
    justify-content: center;
    line-height: 1em;
  }

  &.member {
    display: inline-block;
    margin-left: 1px;
    width: 40px;
    overflow: hidden;
  }

  &.gymname {
    font-size: 14px;
    font-weight: 800;
    line-height: 1.65em;

    .team {
      &.uncontested {
        color: rgba(85,85,85,1);
      }
      &.mystic {
        color: rgba(0,134,255,1);
      }
      &.valor {
        color: rgba(255,26,26,1);
      }
      &.instinct {
        color: rgba(255,159,25,1);
      }
    }
  }

  &.sprite {
    display: block;
    height: 64px;
    width: 64px;
    margin: 8px 0;
  }

  &.pokemon-large-sprite {
    transform: scale(.9);
    top: 3px;
  }

  &.info {

    &.last-modified:before {
      content: '\f040';
      display: inline-block;
      font-family: FontAwesome;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }

    &.last-scanned:before {
      content: '\f002';
      display: inline-block;
      font-family: FontAwesome;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }

    &.navigate:before {
      content: '\f018';
      display: inline-block;
      font-family: FontAwesome;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }

    &.strength {
      font-weight: 700;
      height: 12px;
      width: 12px;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  &.pokemon {
    @media screen and (max-width: 320px) {
      font-size: 8px !important;
    }
    font-size: 9px;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 1em;

    &.motivation {

      &.heart {
        @media screen and (max-width: 320px) {
          height: 6px !important;
          width: 6px !important;
        }
        height: 8px;
        width: 8px;
      }
    }
  }
}

.raid {
  color: rgb(93,109,126);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 1em;

  &.container {
    display: flex;
    justify-content: center;
    margin: 0;

    &.content-left {
      width: 80px;
    }

    &.content-right {
      margin-bottom: auto;
      margin-top: auto;
    }
  }

  &.time {
    font-size: 14px !important;
    line-height: 1.65em;
  }

  &.countdown {

    &:before {
      content: '\f017';
      display: inline-block;
      font-family: FontAwesome;
      margin: 0 2px 0 0;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.pokemon {
    font-size: 13px;
    font-weight: 700;
    float: left;
    margin-bottom: 5px;
  }

  .move {
    font-weight: 600;

    .name {
      font-size: 12px;
      float: left;
      clear: left;
      margin-bottom: 4px;
    }

    .type {
      font-size: 9px;
      display: block;
      text-transform: uppercase;
      padding: 0px 5px;
      border-radius: 4px;
      line-height: 16px;
      color: white;
      float: right;
      clear: right;

      &.fairy {
          background-color: #e898e8;
          // color: _get_text_color(#e898e8);
      }

      &.ghost {
          background-color: #705898;
          // color: _get_text_color(#705898);
      }

      &.normal {
          background-color: #8a8a59;
          // color: _get_text_color(#8a8a59);
      }

      &.grass {
          background-color: #78c850;
          // color: _get_text_color(#78c850);
      }

      &.water {
          background-color: #6890f0;
          // color: _get_text_color(#6890f0);
      }

      &.bug {
          background-color: #a8b820;
          // color: _get_text_color(#a8b820);
      }

      &.fighting {
          background-color: #c03028;
          // color: _get_text_color(#c03028);
      }

      &.electric {
          background-color: #f8d030;
          // color: _get_text_color(#f8d030);
      }

      &.rock {
          background-color: #b8a038;
          // color: _get_text_color(#b8a038);
      }

      &.fire {
          background-color: #f08030;
          // color: _get_text_color(#f08030);
      }

      &.flying {
          background-color: #a890f0;
          // color: _get_text_color(#a890f0);
      }

      &.ice {
          background-color: #98d8d8;
          // color: _get_text_color(#98d8d8);
      }

      &.ground {
          background-color: #e0c068;
          // color: _get_text_color(#e0c068);
      }

      &.steel {
          background-color: #b8b8d0;
          // color: _get_text_color(#b8b8d0);
      }

      &.dragon {
          background-color: #7038f8;
          // color: _get_text_color(#7038f8);
      }

      &.poison {
          background-color: #a040a0;
          // color: _get_text_color(#a040a0);
      }

      &.psychic {
          background-color: #f85888;
          // color: _get_text_color(#f85888);
      }
      &.dark {
          background-color: #705848;
      }
    }
  }
}
