.pokemon.container {
  display: flex;
  margin-bottom: 0px;

  &.content-left {
    width: 64px;

    .links {
      display: block;
      margin-top: 5px;
    }
  }

  &.content-right {
    float: left;
  }
}

.pokemon {
  color: rgb(93,109,126);
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 3px;

  &.name {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 13px;

    &.pokedex {
      font-size: 12px;
      margin: 0 3px;
    }
  }

  &.values {
    font-size: 13px !important;
  }

  &.encounter {
    font-weight: 700;
  }

  &.rarity {
    font-size: 11px;
    margin-right: 3px;
  }

  &.weather-boost {
    font-size: 16px;
    vertical-align: middle;
  }

  &.disappear {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;

    &:before {
      content: '\f017';
      display: inline-block;
      font-family: FontAwesome;
      height: 16px;
      width: 16px;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.links {
    color: rgb(93,109,126);
    margin-right: 3px;

    &.exclude:before {
      content: '\f056';
      font-family: FontAwesome;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
      width: 12px;
      display: inline-block;
    }

    &.notify:before {
      content: '\f055';
      font-family: FontAwesome;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
      width: 12px;
      display: inline-block;
    }

    &.remove:before {
      content: '\f057';
      font-family: FontAwesome;
      margin-right: 3px;
      -webkit-font-smoothing: antialiased;
      width: 12px;
      display: inline-block;
    }
  }

  &.navigate {
    position: absolute;

    &.navigate:before {
      content: '\f018';
      display: inline-block;
      font-family: FontAwesome;
      margin-top: 5px;
      -webkit-font-smoothing: antialiased;
    }
  }

  &.sprite {
    display: block;
    height: 48px;
    width: 48px;
    margin: 5px 0 8px 0;
  }
}
